@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Nozama</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Nozama</h2>
        <p>
        Nozama est une application permettant l'achat de produits pour les particuliers et la mise en vente pour les entreprises de leurs créations.
        </p>
    </div>
   
</div>